* {
    text-decoration: none;
}

/* Index */

/* NavBar */

.navbar {
    background: linear-gradient(to bottom right, skyblue, violet, tomato);
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    top: 0px;
    z-index: 999;
    filter: drop-shadow(0 0 20px black);
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
    color: white;
    font-weight: 600;
}

.navlogo {
    height: 20px;
    width: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.logoimg {
    height: 20px;
    width: 48px;
    position: absolute;
    left: 30px;
    top: -15px;
}

.wordlogo {
    position: sticky;
}

/* Header */

/* Search Bar */

#searchbar {
    padding: 6px;
    height: 30px;
    width: 250px;
    border-style: none;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 17px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 30px black;
    transition: 0.2s;
}

#searchbar:active {
    transform: scale(.9);
}

body {
    margin: 0;
    background-color: rgb(46, 46, 50);
    background-image: url(images/background3.png);
}

li {
    list-style: none;
    display: inline-block;
    transition: 0.4s;
    background-color: rgb(46, 46, 50, 0);
    margin-right: 25px;
    border-radius: 10px;
}


li a{
    font-size: 25px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

button {
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.4s;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 20px black;
}

button a{
    color: white;
    font-weight: 600;
}

button:hover {
    transform: scale(1.2);
}

li:hover {
    transform: scale(1.2);
    background-color:  rgb(46, 46, 50, 0.5);
    border-radius: 10px;
}

img {
    padding: 8px;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    transition: 0.4s;
}

.activity {
    margin: 8px;
    padding: 0px;
    box-shadow: 0 0 20px black;
}

.games {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    justify-content: center;
    order: 0;
    align-items: center;
    width: 100%;
}

h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
}

.gamebox {
    width: 100%;
    max-width: 1000px;
    height: 600px;
    background-color: rgb(40, 40, 44, 1);
    display: block;
    margin: 0 auto;
    position: static;
    box-shadow: 0 0 20px black;
}

.header {
    height: 210px;
}

iframe {
    display: block;
    margin: 0 auto;
}

.default {
    height: 600px;
    width: 1000px;
}

.thin {
    height: 600px;
    width: 490px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, 0.8);
  }

  .actbox {
    position: relative;
    transition: 0.4s;
  }

  .actbox:hover {
    transform: scale(1.1);
    z-index: 98;
  }

  #biotext {
    background: black;

    width: 80%;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    display: block;
    margin: 0 auto;
    color: white;
    padding: 30px;
    font-size: 24px;
    filter: drop-shadow(0 0 20px black);
    text-align: center;
  }

  .acttext {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
    /* background: linear-gradient(to bottom right, skyblue, violet, tomato);*/
    background-color: rgb(25, 25, 26);
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    filter: drop-shadow(0 0 10px black);
/*
    border: solid;
    background: linear-gradient(to bottom right, skyblue, violet, tomato) 1;
*/
  }

  .acttext {
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, skyblue), color-stop(0.5, violet), color-stop(0.75, tomato));

    padding: 3px;
  }
  
  .acttext>div {
    background: rgb(25, 25, 26);
    padding: 10px;
    border-radius: 17px;
  }

  .divider {
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0, 0), skyblue, violet, tomato, rgb(0, 0, 0, 0));
    margin-top: 30px;
    margin-bottom: 20px;
  }